{% extends "base.html" %}
{% block content %}

<div class="bill-page">
    <div class="bill-card">

        <h2>Order Bill</h2>

        {% for item in products %}
        <div class="bill-row">
            <span>{{ item.name }} × {{ item.quantity }}</span>
            <span>₹ {{ item.total }}</span>
        </div>
        {% endfor %}

        <hr>

        <div class="bill-total">
            <strong>Total</strong>
            <strong>₹ {{ total }}</strong>
        </div>

        <div>
            <button>
                <a href="{{ url_for('views.confirme') }}" class="order-btn">
                    Confirm Order
                </a>
            </button>
        </div>

    </div>
</div>

{% endblock %}